* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

:root {
  --brand-light: #59B2FF;
  --brand-mid: #3487CF;
  --brand-dark: #1D6FB6;
  
  /* Accent Colors */
  --purple: #B259FF;
  --fuschia: #FF59F9;
  --pink: #FF598B;
  --orange: #FF8B59;
  --yellow: #FFCD59;
  --lime: #E1FF59;
  --green: #59FF91;
  --cyan: #59FFF9;
  --navy: #6A59FF;
  
  /* Feedback */
  --danger: #FF5959;

  /* Input */
  --input-base: #1C1F21;
  --input-stroke: #363B40;
  --input-placeholder: #869198;

  /* Shape */
  --shape-background: #131516;
  --shape-body: #212427;
  --shape-button: #2D3136;
  --shape-hover: #383D42;

  /* Text */
  --text-body: #C8CDD0;
  --text-heading: #F9F9F9;

  /* Tipografia */
  --font-family-logo: "Leckerli One", cursive;
  --font-family-heading: "Baloo 2", sans-serif;
  --font-family-text: "Open Sans", sans-serif;

  --font-logo: 400 40px/auto var(--font-family-logo);
  --heading-md: 700 28rem/120% var(--font-family-heading);
  --heading-sm: 700 18px/auto var(--font-family-heading);

  --body-md-regular: 400 16px/auto var(--font-family-text);
  --body-sm-regular: 400 14px/auto var(--font-family-text);
  --body-xs-regular: 400 12px/auto var(--font-family-text);

  --body-md-semibold: 600 16px/auto var(--font-family-text);
  --body-sm-semibold: 600 14px/auto var(--font-family-text);
  --body-xs-semibold: 600 12px/auto var(--font-family-text);
}

body{  background-color: var(--danger);
}

